/*GENERAL STYLES*/
* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

p {
  font-size: .8rem;
  color: #9098A7;
  line-height: 1.5;
  margin: 0;
}

h1 {
  font-weight: 400;
  color: #666;
  margin: 0;
}

h2 {
  font-size: 1.2rem;
  color: #5B6677;
}

h3 {
  color: #9098A7;
  font-weight: 600;
  margin: 0;
  line-height: 2.2;
  font-size: 1.1rem;
}

h4 {
  color: #fff;
  margin: 0;
  font-size: .9rem;
}

h5 {
  color: #727E93;
;
  margin: 0;
  font-weight: 700;
}

input {
  border: none;
  line-height: 0;
  font-size: 1rem;
  padding: 15px;
}

ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

li {
  color: #9098A7;
  font-size: .85rem;
  font-weight: 700;
}

a {
  text-align: center;
  text-decoration: none;
  color: #9098A7;
}

i {
  color: #9098A7;
  font-size: 1rem;
}

button {
  cursor: pointer;
  border: none;
}

hr {
  border: none;
  background-color: #6d799342;
  height: 2px;
}

.container {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-areas: 
    "sidebar main-content";
}

/*SIDEBAR STYLING*/
.sidebar {
  grid-area: sidebar;
  background-color: #374050;
  display: grid;
  grid-template-rows: 190px repeat(2, 280px) 1fr;
}

.side-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headshot {
  border-radius: 50%;
  height: 92px;
}

.side-name {
  display: flex;
  align-items: baseline;
}

.side-name h3 {
  font-size: 1rem;
  padding-right: 6px;
}

.side-nav-container {
  padding: 25px 0;
  border-top: 5px double #313948;
  box-shadow: inset 0px 0.7px 0.5px #9098a72e;
}

.side-heading {
  padding: 0 0 15px 18px;
  color: #67748B;
}

.side-nav {
  border-left: 3px solid transparent;
  padding: 12px 0 12px 2px;
}

.side-nav:hover i,
.side-nav:hover a{
  color: #fff;
}

.side-nav:hover {
  border-left: 3px solid #48A3F3;
  background-color: #313948;
}

.side-nav i {
  margin: 0 10px 0 15px;
}

.nav-sm {
  font-size: .8rem;
}

.checkbox {
  margin: 0 12px 0 18px;
  -webkit-appearance: none;
  background-color: red;
  border-radius: 3px;
  padding: 8px;
  position: relative;
  vertical-align: text-bottom;
}

.checkbox:checked:after {
  color: black;
  content: '\f00c';
  font-family: 'Font Awesome 5 Free';
  font-size: 10px;
  font-weight: 900;
  left: 4px;
  position: absolute;
}

.administrative {
  background-color: #F9D549;
}

.design {
  background-color: #53AEF8;
}

.executive {
  background-color: #D63662;
}

.human-resources {
  background-color: #4AA68B;
}

/*MAIN AREA*/

.main-content {
  display: grid;
  grid-template-rows: 80px 10% 90%;
  grid-area: main-content;
  background-color: white;
}

.top-nav {
  border: 1px solid #EBECEF;
  background-color: #F0F1F4;
  grid-gap: 2px;
  display: grid;
  grid-template-columns: 80px 1fr repeat(3, 80px);                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  ikl,0px);
}

.fa-caret-left {
  color: #48A3F3;
  padding: 5px 5px 5px 0;
  vertical-align: bottom;
}

.magnifying {
  font-family: "Font Awesome 5 Free", 'Open Sans', sans-serif;
  font-weight: 900;
}

::placeholder {
  color: #9098A7;
}

.btn {
  background-color: white;
  border: none;
  margin: 0;
}

.btn:hover {
  background-color: #48A3F3;
}

.btn:hover i {
  color: white;
}

.large {
  font-size: 1.5rem;
}

.header {
  display: grid;
  grid-template-rows: 2fr 1fr;
  padding: 20px 50px 0 40px;
}

.job-title-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pin {
  color: #9098A7;
  margin: 0 7px;
}

.preview {
  font-weight: 400;
}

.preview:hover {
  color: #48A3F3;
  font-weight: 600;
}

.fa-circle {
  color: #99C354;
  font-size: .8rem;
  padding-right: 3px;
}

.job-title-buttons {
  width: 260px;
  display: flex;
  justify-content: space-between;
}

.job-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  width: 750px;
}

.li-bottom-border {
  border-bottom: 3px solid transparent;
  padding: 25px 0;
}

.li-bottom-border:hover {
  color: #666;
  border-bottom: 3px solid #48A3F3;
}

.main-inside {
  background-color: #EEF2F6;
  display: grid;
  grid-template-rows: 30% 70%;
}

.top-section {
  display: grid;
  padding: 30px 40px;
  grid-gap: 14px;
}

.graph-section {
  display: grid;
  grid-template-columns: 55% 45%;
}                                                         

.graph-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  width: 100%
}

/*CIRCLE CHARTS*/
.single-chart {
  width: 30%;
}

.circular-chart {
  display: block;
  margin: 0-;
  max-width: 90%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #DBE4EA;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.teal .circle {
  stroke: #67B8BF;
}

.circular-chart.blue .circle {
  stroke: #48A3F3;
}

.circular-chart.purple .circle {
  stroke: #A46DAB;
}

.percentage {
  fill: #666;
  font-weight: bold;
  font-family: 'Titillium Web', sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

.text {
  fill: #9098A7;
  font-size: 0.2rem;
  font-weight: bold;
  text-anchor: middle;
}

.graph-btn-section {
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
}

.bar-graph {
  height: 18vw;
}

.graph-btn {
  width: auto;
  border-radius: 25px;
  padding: 10px 15px;
  font-size: .8rem;
  font-weight: bold;
  letter-spacing: .5px;
  color: #5B6677;
  border: 3px solid #6d799342;
}

.graph-btn:hover {
  background-color: #48A3F3;
  border: 3px double white;
  color: white;
}

.graph-btn:hover .w{
  color: white;
}

.circle-btn {
  border-radius: 50%;
  padding: 10px 12px;
}

.divider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.center-hr {
  width: 47.5%;
  margin: 0;
}

.fa-angle-up {
  color: #A4AAB5;
  background-color: white;
  border: 2px solid #6d799342;
  font-size: 1rem;
  width: 33px;
  height: 33px;
  text-align: center;
  padding: 6px;
}

/*LOWER MAIN SECTION*/
.bottom-section {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 2fr 1fr;
  padding: 40px;
}

.job-posting {
  background-color: white;
  display: grid;
  grid-template-rows: 10% 90%;
  background-color: gray;
    border-radius: 3px 3px 0 0;

}

.job-header {
  background-color: #727E93;
  border-radius: 3px 3px 0 0;
  color: white;
  display: flex;
  align-items: center;
}

.edit-btn {
  background-color: #7B8BA6;
  font-size: .9rem;
  color: #fff;
  font-weight: bold;
  padding: 9px 16px;
}

.edit-icon {
  color: #fff;
  font-size: .9rem;
  padding-right: 4px;
}

.job-body {
  box-shadow: 0 1px 2px #aaaaaa4a;
  display: grid;
  grid-template-columns: 165px 1fr;
  align-items: center;
  padding: 20px;
  grid-row-gap: 2px;
  background-color: #fff;

}

.job-item {
}

.job-paragraph {
  line-height: 1.1;
  align-self: end;
}

.job-text {
  padding: 20px;
}

/* BOTTOM RIGHT SIDEBAR*/
.social-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.social-inputs {
  display: flex;
  flex-direction: column;
}

.post {
  padding-left: 50px;
  font-weight: 900;
}

.fab {
  padding: 15px;
  text-decoration: none;
  margin: 0 2px 15px;
  text-align: left;
  border-radius: 3px;
}

.fab:hover {
  filter: saturate(150%);
}

.fa-facebook-f {
  background: #5070BB;
  color: white;
}

.fa-twitter {
  background: #48A9E9;
  color: white;
}

.fa-linkedin {
  background: #3681B8;
  color: white;
}

.text-field {
  flex: 1;
  border-radius: 4px 0 0 4px;
}

.text-field-last {
  width: 100%;
  border-radius: 4px;
  margin-top: 20px
}

.input {
  height: 45px;
  box-shadow: 0 1px 2px #aaaaaa4a;
}

.copy-btn {
  background-color: #67B8BF;
  color: white;
  border-radius: 0 4px 4px 0;
}

.copy-btn:hover {
  filter: saturate(140%);
}

.input-add-on{
  display: flex;
  margin-top: 20px;
}

h2 .fas {
  padding-right: 5px;
  color: #5B6677;
}

.social-hr {
  margin-top: 30px;
}


