/*-----GENERAL STYLES-----*/
* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

p {
  color: #9098A7;
  font-size: .8rem;
  line-height: 1.5;
  margin: 0;
}

h1 {
  color: #666;
  font-weight: 400;
  margin: 0 18px 0 0;
}

h2 {
  color: #5B6677;
  font-size: 1.2rem;
}

h3 {
  color: #9098A7;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 2.2;
  margin: 0;
}

h4 {
  color: #fff;
  font-size: .9rem;
  margin: 0;
}

h5 {
  color: #727E93;
  font-weight: 700;
  margin: 0;
}

input {
  border: none;
  font-size: 1rem;
  line-height: 0;
  overflow: hidden;
  padding: 15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  color: #9098A7;
  font-size: .85rem;
  font-weight: 700;
}

a {
  color: #9098A7;
  text-align: center;
  text-decoration: none;
}

i {
  color: #9098A7;
  display: contents;
  font-size: 1rem;
}

button {
  border: none;
  cursor: pointer;
}

hr {
  background-color: #6d799342;
  border: none;
  height: 2px;
}

.container {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-areas: 
    "sidebar main-content";
}

/*-----SIDEBAR STYLING-----*/
.sidebar {
  background-color: #374050;
  display: grid;
  grid-area: sidebar;
  grid-template-rows: 190px repeat(2, 280px) 1fr;
}

.side-profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headshot {
  border-radius: 50%;
  height: 92px;
}

.side-name {
  align-items: baseline;
  display: flex;
}

.side-name h3 {
  font-size: 1rem;
  padding-right: 6px;
}

.side-nav-container {
  border-top: 5px double #313948;
  box-shadow: inset 0px 0.7px 0.5px #9098a72e;
  padding: 25px 0;
}

.side-heading {
  color: #67748B;
  padding: 0 0 15px 18px;
}

.side-nav {
  border-left: 3px solid transparent;
  padding: 12px 0 12px 2px;
}

.side-nav:hover i,
.side-nav:hover a{
  color: #fff;
}

.side-nav:hover {
  background-color: #313948;
  border-left: 3px solid #48A3F3;
}

.side-nav i {
  margin: 0 10px 0 15px;
}

.nav-sm {
  font-size: .8rem;
}

.checkbox {
  -webkit-appearance: none;
  background-color: red;
  border-radius: 3px;
  margin: 0 12px 0 18px;
  padding: 8px;
  position: relative;
  vertical-align: text-bottom;
}

.checkbox:checked:after {
  color: black;
  content: '\f00c';
  font-family: 'Font Awesome 5 Free';
  font-size: 10px;
  font-weight: 900;
  left: 3px;
  position: absolute;
}

.administrative {
  background-color: #F9D549;
}

.design {
  background-color: #53AEF8;
}

.executive {
  background-color: #D63662;
}

.human-resources {
  background-color: #4AA68B;
}

/*-----MAIN AREA-----*/
.main-content {
  background-color: white;
  display: grid;
  grid-area: main-content;
  grid-template-rows: 80px 10% 90%;
}

.top-nav {
  background-color: #F0F1F4;
  border: 1px solid #F0F1F4;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: 80px 1fr repeat(3, 80px);
}

.fa-caret-left {
  color: #48A3F3;
  padding: 5px 5px 5px 0;
  vertical-align: bottom;
}

.magnifying {
  font-family: "Font Awesome 5 Free", 'Open Sans', sans-serif;
  font-weight: 900;
}

::placeholder {
  color: #9098A7;
}

.btn {
  background-color: white;
  border: none;
  margin: 0;
}

.btn:hover {
  background-color: #48A3F3;
}

.btn:hover i {
  color: white;
}

.large {
  font-size: 1.5rem;
}

.header {
  display: grid;
  grid-template-areas: "title buttons"
                       "navigation navigation";
  grid-template-columns: 1fr 265px;
  grid-template-rows: 2fr 1fr;
  padding: 20px 40px 0;
}

.job-title-section {
  align-items: center;
  display: grid;
  grid-area: title;
}

.job-title {
  align-self: flex-end;
}

.job-location {
  align-items: center;
  align-self: flex-start;
  display: flex;
}

.pin {
  color: #9098A7;
  margin: 0 6px 0 2px;
}

.preview {
  font-size: 1rem;
  line-height: 2.2;
  margin-left: 5px;
}

.preview:hover {
  color: #48A3F3;
  cursor: pointer;
  font-weight: 600;
}

.fa-circle {
  color: #99C354;
  font-size: .8rem;
  padding-right: 3px;
}

.job-title-buttons {
  grid-area: buttons;
  display: flex;
  align-self: center;
  justify-content: space-between;
}

.circle-btn {
  border-radius: 50%;
  padding: 10px 11px !important;
}

/*-----TOP NAVIGATION LINKS-----*/
.job-nav {
  grid-area: navigation;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: 750px; 
}

.fa-angle-left,
.fa-angle-right {
  color: #48A3F3;
  display: none !important;
}

.li-bottom-border {
  border-bottom: 3px solid transparent;
  padding: 25px 0;
}

.li-bottom-border:hover {
  border-bottom: 3px solid #48A3F3;
  color: #666;
  cursor: pointer;
}

.main-inside {
  background-color: #EEF2F6;
  display: grid;
  grid-template-rows: 30% 70%;
}

/*-----GRAPHS-----*/
.top-section {
  border-top: 2px solid #E1E7EB;
  display: grid;
  grid-gap: 14px;
  padding: 30px 40px;
}

.graph-section {
  align-items: center;
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: 2fr 1fr;
  justify-content: center;
  grid-template-areas: 
  "circlegraph bargraph"
  "totals applicants"
} 

.graph1 {
  grid-area: circlegraph;
} 

.graph2 {
  grid-area: bargraph;
}                                                       

.graph-box {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 100%
}

/*-----PIE/BAR CHARTS-----*/
.single-chart {
  width: 30%;
}

.circular-chart {
  display: block;
  max-width: 90%;
}

.circle-bg {
  fill: none;
  stroke: #DBE4EA;
  stroke-width: 3.8;
}

.circle {
  animation: progress 1s ease-out forwards;
  fill: none;
  stroke-linecap: round;
  stroke-width: 2.8;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.teal .circle {
  stroke: #67B8BF;
}

.circular-chart.blue .circle {
  stroke: #48A3F3;
}

.circular-chart.purple .circle {
  stroke: #A46DAB;
}

.percentage {
  fill: #666;
  font-family: 'Titillium Web', sans-serif;
  font-size: 0.5em;
  font-weight: bold;
  text-anchor: middle;
}

.text {
  fill: #9098A7;
  font-size: 0.2rem;
  font-weight: bold;
  text-anchor: middle;
}

.bar-graph {
  height: 18vw;
}

.graph-btn {
  align-self: baseline;
  border-radius: 25px;
  border: 3px solid #6d799342;
  color: #5B6677;
  font-size: .8rem;
  font-weight: bold;
  letter-spacing: .5px;
  margin: 12px auto;
  padding: 10px 15px;
  background-color: #fff;
}

.btn-1 {
  grid-area: totals;
}

.btn-2 {
  grid-area: applicants; 
}

.graph-btn:hover {
  background-color: #48A3F3;
  border: 3px double white;
  color: white;
  cursor: pointer;
}

.graph-btn:hover .w{
  color: white;
}

.divider {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.center-hr {
  margin: 0;
  width: 47.5%;
}

.fa-angle-up {
  background-color: white;
  border: 2px solid #6d799342;
  color: #A4AAB5;
  font-size: 1rem;
  height: 33px;
  padding: 6px;
  text-align: center;
  width: 33px;
}

/*-----LOWER MAIN SECTION-----*/
.bottom-section {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 2fr 1fr;
  padding: 20px 40px 40px;
}

.job-posting {
  border-radius: 4px;
  display: grid;
  grid-template-rows: 66px 1fr;
}

.job-header {
  align-items: center;
  background-color: #727E93;
  border-radius: 4px 4px 0 0;
  color: white;
  display: flex;
}

.edit-btn {
  background-color: #7B8BA6;
  border-radius: 4px;
  border-top: 1px outset #cecece26;
  box-shadow: 0 1px 1px #56565682;
  color: #fff;
  font-size: .9rem;
  font-weight: bold;
  padding: 9px 18px;
}

.edit-btn:hover {
  filter: saturate(150%);
}

.edit-icon {
  color: #fff;
  font-size: .9rem;
  padding-right: 4px;
}

.job-container {
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 1px 2px #aaaaaa4a;
  padding: 0 33px 0;
}

.job-body {
  background-color: #F0F1F4;
  border-radius: 0 0 4px 4px;
  display: grid;
  grid-row-gap: 2px;
  grid-template-columns: 165px 1fr;
  height: 100%;
}

.job-item {
  background-color: #fff;
  height: 100%;
  line-height: 1;
  padding-top: 27px;
}

.hiring {
  padding-top: 39px;
}

.hiring-lead {
  border-radius: 50%;
  height: 40px;
  margin-right: 15px;
  vertical-align: middle;
}

.job-paragraph {
  line-height: 1.1;
}

.job-text {
  padding: 0 40px 0 33px;
}

/*-----BOTTOM RIGHT SIDEBAR-----*/
.social-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.social-btn {
  border-radius: 3px;
  color: white;
  font-weight: 600;
  letter-spacing: 1.1;
  margin-bottom: 15px;
  padding: 17px;
  position: relative;
  word-spacing: 1px;
}

.social-btn:hover {
  filter: saturate(150%);
}

.fab {
  color: white;
  left: 10px;
  position: absolute;
  text-decoration: none;
}

.fb-btn {
  background-color: #4B72C2;
}

.tweet-btn {
  background-color: #00ABEF;
}

.linkedin-btn {
  background-color: #0582BD;
}

.social-inputs {
  display: grid;
  grid-template-areas: 'input-one' 
  'input-two' 
  'input-three';
}

.input1 {
  grid-area: input-one;
}

.input2 {
  grid-area: input-two;
}

.input3 {
  grid-area: input-three; 
}

.text-field {
  border-radius: 4px 0 0 4px;
  flex: 1;
}

.text-field-last {
  border-radius: 4px;
  margin-top: 20px;
  width: 100%;
}

.input {
  box-shadow: 0 1px 2px #aaaaaa4a;
  height: 45px;
}

.copy-btn {
  background-color: #67B8BF;
  border-radius: 0 4px 4px 0;
  color: white;
}

.copy-btn:hover {
  filter: saturate(150%);
}

.input-add-on{
  display: flex;
  margin-top: 20px;
}

h2 .fas {
  color: #5B6677;
  padding-right: 5px;
}

.social-hr {
  margin-top: 30px;
}

/*-----MEDIA QUERIES-----*/

@media screen and (max-width: 1057px) {
  
  .container {
    grid-template-areas: "main-content";
    grid-template-columns: 1fr;
  }

  .fa-caret-left {
    display: none !important;
  }

  .sidebar {
    display: none;
  }
} 

@media screen and (max-width: 855px) {
  
  .job-nav {
    align-items: flex-end;
    flex-direction: column;
    width: 100%;
  }

  .top-nav-collapsed {
    align-items: center;
    display: flex;
  }

  .fa-angle-left,
  .fa-angle-right {
    color: #48A3F3;
    display: inline-block !important;
    padding: 0 10px;
  }

  .fa-angle-left:hover,
  .fa-angle-right:hover {
    cursor: pointer;
    transform: scale(1.4);
  }

  .li-bottom-border:hover {
    border-color: transparent;
    color: #9098A7;
  }

  .hide {
    display: none;
  }

  .graph-section {
    grid-template-areas: "circlegraph" 
                         "totals" 
                         "bargraph"
                         "applicants";
    grid-template-columns: 100%;
    grid-template-rows: 3fr 1fr 3fr 1fr;
  }

  .graph-box {
    justify-content: center;
  }

  .graph1 {
    max-width: 85vw;
  }
  
  .circular-chart {
    margin-left: 27px;
    max-width: 85%;
  }

  .bar-graph {
    height: 28vw;
  }

  .bottom-section {
    grid-template-columns: 1fr;
  }

  .job-item {
    line-height: 1.5;
    padding: 12px 0;
  }

  .hiring {
  align-items: center;
  display: flex;
}

  .social-box {
    flex-direction: row;
    justify-content: space-around;
  }

  .social-btn {
    width: 32%; 
  }

  .social-inputs {
    grid-column-gap: 60px;
    grid-row-gap: 30px;
    grid-template-areas: "input-one input-two" 
                         "input-three input-three";
    padding-top: 18px;
    text-align: center;
  }
}

@media screen and (max-width: 714px) {
  
  .top-section {
    padding: 20px 40px;
  }

  .header {
    grid-template-areas: "title title" 
                         "buttons navigation";
    grid-template-columns: 265px 1fr;
  }

  .job-title-buttons {
    justify-content: flex-start;
  }

  .open-btn,
  .circle-btn {
    align-self: center;
    margin: 12px 10px 12px 0;
  }

  .graph1 {
    max-width: 100%;
  }

  .circular-chart {
    margin: 0;
  }

  .bar-graph {
    height: 200px;
  }

  .social-btn {
    padding: 15px;
  }

  .hide-social {
    display: none;
  }

  .social-inputs {
    grid-row-gap: 20px;
    grid-template-areas: 'input-one' 
                         'input-two' 
                         'input-three';
  }
}

@media screen and (max-width: 608px) {
  
  .job-item {
    align-items: center; 
    display: flex;
  }

  .description,
  .job-paragraph {
    grid-column: 1 / span 2;
  }

  .hiring-lead {
    display: block;
    margin-left: 18px;
  }
}

@media screen and (max-width: 490px) {

  .header {
    grid-template-columns: 200px 1fr;
    padding: 15px 20px 0;
  }

  .top-section {
    padding: 20px 20px;
  }

  .open-btn {
    padding: 10px 12px;
  }

  .open {
    display: none;
  }

  .fa-circle {
    padding: 0;
  }

  .bottom-section {
    padding: 20px 20px;
  }

  .bar-graph {
    height: 180px;
  }
}